function SquareGame.new 0
push constant 0
push constant 0
push constant 30
call new 1
pop temp 0
push constant 0
push constant 0
return
function SquareGame.dispose 0
call square.dispose 0
pop temp 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push constant 1
call square.moveUp 0
pop temp 0
push constant 2
call square.moveDown 0
pop temp 0
push constant 3
call square.moveLeft 0
pop temp 0
push constant 4
call square.moveRight 0
pop temp 0
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 0
push constant 0
push constant 0
push constant 0
call keyPressed 0
pop temp 0
call moveSquare 0
pop temp 0
push constant 81
push constant 90
call square.decSize 0
pop temp 0
push constant 88
call square.incSize 0
pop temp 0
push constant 131
push constant 1
push constant 133
push constant 2
push constant 130
push constant 3
push constant 132
push constant 4
push constant 0
call keyPressed 0
pop temp 0
call moveSquare 0
pop temp 0
push constant 0
return
